html, body 
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    height: 100%;
    background:
    radial-gradient(
            circle at bottom right,
            lightgrey,
            white 10%,
            transparent
        ),
        radial-gradient(
            circle at bottom left,
            lightgrey,
            white 10%,
            transparent
        );
    /*overflow: hidden;  cache la barre déroulante */
}

/*en-tête*/
header
{
    width: 100%;
    display: block;
    background-color: #cccccc;
    margin: 0;
    background-image:
    radial-gradient(
        circle at left 80vmin top 500px,
        white 40%,
        #aaa             
    );
    text-align: right;
}

header div
{
    width: 100%;
}

header img
{
    float:left;
}

h1
{
    padding: 0;
    padding-right: 1%;
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#gros_titre
{
    padding: 0;
    padding-top: 0.5%;
    padding-right: 1%;
    color: #ff3399;
    font-size: 5em;
}

/* mise en page de la barre de navigation */
#dv_nav
{
    display: block;
    padding: 0;
    padding-left: 27%;
    margin: 0;
}

#nav 
{
    
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
}

#nav li 
{
    display:block;
    position:relative;
    float:left;
    text-align: center;
    margin:0
}

/* dégradé de couleur de la barre de navigation */
#nav #li_nav1 
{
    background-image: linear-gradient(to right,#E9E9E9,white);
}
#nav #li_nav2 
{
    background-image: linear-gradient(to right,white,#E9E9E9);
}
#nav #li_nav3 
{
    background-image: linear-gradient(to right,#E9E9E9,#DDD);   
}
#nav #li_nav4 
{
    background-image: linear-gradient(to right,#DDD,lightgrey);
    padding-right: 1%;
}

#nav li a 
{
    margin: 5%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:block;
    padding:0;
    text-decoration:none;
    width:200px;
    line-height:35px;
    color: #EC018C;
}

/*couleur des textes de la navbar*/
#nav #a_nav1 
{
    background-color:#EC018C;
    color: white;
}
#nav #a_nav2 
{
    color: #B5D46F;
    pointer-events: none; /* rend le lien incliquable*/
}
#nav #a_nav3 
{
    color:#00ACEF;
    pointer-events: none; /* rend le lien incliquable*/
}
#nav #a_nav4 
{
    color: darkgrey;
    pointer-events: none; /* rend le lien incliquable*/
}

/*mise en forme des sous-lien*/
#nav ul 
{
    position:absolute;
    padding:0;
    left:0;
    display:none; /* cache les sous lien */
}

#nav li:hover ul 
{
    display:block;  
} /* montre les sousliens on hover */


.souslien
{
    background-color: #fafafa;
}






/*wrapper principal*/
#main
{
    background: url("images/Jeune.PNG") no-repeat 45% 20%;
    margin: 0;
    padding: 0;
}




/*mise en page du formulaire*/
form
{
    padding: 5%;
    padding-top: 6%;
    padding-left: 28%;
    width: 50%;
}
    
fieldset
{
    padding: 4%;
    background-color: #ffffff;
    border-color: #ff3399;
    font-size: 2em;
    font-family:'Times New Roman', Times, serif;
    color: #EC018C;
}     

input[type=text], input[type=email] {
    border: none;
    border-bottom: 2px dotted palevioletred;
    width: auto;
    font-family: MV Boli;
    color: blue;
    font-size: 1em;
}

label
{
    display: inline-block;
    
}

.right
{
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 5%;
    width: 30%;
    display: block;
}

h2
{
    background-color: pink;
    background-color: red;
    background-image:
        linear-gradient(
        to right, 
        white, 
        #F35DB5 40%,
        #EC018C
        );
    color: white;
    text-align: right;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 5%;
    margin: 0%;
}

legend
{
    width: 250px;
    text-align: right;
    color: #EC018C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.field_checkbox
{
    border : 0;
    margin: 0 auto;
    padding: 0%;
    display: inline-block;
}

.dv_checkbox
{
    padding: 4%;

    background-color: red;
    background-image:
        radial-gradient(
        circle at top left,
        #FDF6FB,
        #FDEDF7 50%
        );

    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

small
{
    color: #EC018C;
    font-size: 20px;
}

.button
{
    display: block;
    background-color: #EC018C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;

    margin: 40px 40px;
    padding: 10px 40px;
}

#cache
{
    display: none;
    margin: 40px 50px;
}
